body{
    font-family: arial;
    font-size: 14px;
    color: #222;
    background: #f5f5f5;
}

#global-banner {
    height: auto; 
    text-align: center;
    background: #CD020B;
}
#header-top{
    padding-top: 5px;
    padding-bottom: 5px; 
}
#header-top-right{
    text-align: right; 
}
#header-top-left a,
#header-top-right a{
    font-size: 12px;
    color: #333;
    font-weight: bold;
    text-decoration: none; 
}
#header-top-right a{
    margin-left: 43px;
}


#header-top-left a:hover,
#header-top-right a:hover{
    color: #EE2E24;
}

#header-top-left a i,
#header-top-right a i{
    color: #CD020B; 
}


/* Header-Main */
#header-main{
    height: auto; 
    background: #fff;
}
#logo{
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center; 
}
#logo h1 {
    margin-bottom: 0; 
}
#logo img {
    width: 45px;
    height: 68px;
}


#header-main-right{
    display: flex; 
    justify-content: space-between; 
}

#header-main-right  a{
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
#header-main-right a:hover{
    color: #EE2E24;
}

#user a:last-child{
    font-weight: normal;
}

#follow{
    padding-top: 23px; 
}
#follow a{
    position: relative;
    padding-left: 43px;
    display: block;
}
#follow a::before{
    position: absolute;
    width: 28px;
    height: 24px;
    content: "";
    background: url(../images/sprite.png) no-repeat -7px -8px;
    top: 7px;
    left: 0;

    transition: all .2s; 
}
#follow a:hover::before{
    top:0;
}

#user a{
    position: relative;
    padding-left: 43px;
}
#user a:first-child::before{
    position: absolute;
    width: 28px;
    height: 28px;
    content: "";
    background: url(../images/sprite.png) no-repeat -53px -8px;
    top: 7px;
    left: 0;

    transition: all .2s; 
}
#user:hover a::before{
    top:0;
}
#user {
    padding-top: 23px;
}

#cart{
    position: relative;
    display: block;
    width: 28px;
    height: 26px;
    margin-top: 30px;
    background: url(../images/sprite.png) no-repeat -100px -8px;
}
#cart span{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 100%;
    top: -7px;
    right: -7px;  
}


/* Header Bottom */

#header-bottom{
    height: auto;
    background: #fff; 
}
#header-bottom-right{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: right; 
}
#header-bottom a{
    text-decoration: none;  
    color: #333; 
    margin-left: 80px; 
}
#header-bottom-right a:hover{
    color: #EE2E24
}
#header-bottom-right a:first-child{
    font-weight: bold; 
}
#header-bottom a i{
    font-size: 18px;
    color: #EE2E24; 
    font-weight: bold; 
}

#header-bottom-right a{
    position: relative;
    padding-left: 38px; 
}
#header-bottom-right a:nth-child(1)::before{
    position: absolute; 
    width: 28px;
    height: 28px;
    content: "";
    background: url(../images/sprite.png) no-repeat -9px -53px;
    top: 7px;
    left: 0px; 
}

#header-bottom-right a:nth-child(2)::before{
    position: absolute; 
    width: 32px;
    height: 32px;
    content: "";
    background: url(../images/sprite.png) no-repeat -60px -53px;
    top: 7px;
    left: 0px; 
}

#header-bottom-right a:nth-child(3)::before{
    position: absolute; 
    width: 30px;
    height: 30px;
    content: "";
    background: url(../images/sprite.png) no-repeat -114px -53px;
    top: 7px;
    left: 0px; 
}

#header-bottom-right a:nth-child(4)::before{
    position: absolute; 
    width: 28px;
    height: 28px;
    content: "";
    background: url(../images/sprite.png) no-repeat -167px -53px;
    top: 7px;
    left: 0px; 
}

/* Menu */
#banner-left h3{
    height: 40px; 
    line-height: 40px;
    border-radius: 10px 10px 0 0; 
    background: #FFCCFF;
    font-weight: bold;
    padding: 0 10px; 
    margin-bottom: 0; 
}
#banner-left h3 a{
    color: #fff;
    font-size: 18px; 
    text-decoration: none;
    text-align: center;
}
#banner-left h3 a i{
    margin-right: 10px;
}

#banner-left{
    margin-top: -40px; 
}

#banner-left-items{
    margin-top: 55px;
    height: 345px;   
    padding-left: 10px; 
    /* margin-bottom: 0;  */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    background: url("../images//logo_tre.jpg") ;
    background-size: 100% 100%;
    
}
#slider{
    margin-bottom: 15px; 
}

#banner-left h4{
    padding-top: 10px; 
    font-size: 22px;
    font-weight: bold;
    width: 100%; 
}
#banner-left p{
    font-size: 19px;
    font-weight: 600;
    width: 100%;
}
#menu p i{
    padding-right: 5px; 
}



#slider, #banner-right{
    padding-top: 10px; 
}
#banner-right .banner-right-item{
    margin-bottom: 10px; 
}


.banner-hover a{
    display: block;
    position: relative;
    overflow: hidden; /*chặn tất cả thành phần thừa ra khỏi khối */
}
.banner-hover a::before{
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    background: #fff;
    top: 0;
    left: -15%;
    transform: skewX(-25deg); 
}
.banner-hover:hover a::before{
    width: 100%;
    background: transparent; /*bachground trong suốt */
    transition: all .5s;    /*transition cả width và background */
}



/* New */
#banner-bottom img{
    width :408px;
    height: 147px;
}
.banner-right-item img{
    width :304px;
    height: 150px;
}
.carousel-item img{
    width: 616px;
    height: 350px;
}



/* Product */
.products{
    margin-top: 15px; 
}
.product h3{
    font-size: 18px;
}
.product-item{
    text-align: center;
    padding: 5px; 
    /* margin: -5px;  */
}
.product-item img{
    width: 150px;
    height: 160px;
}
.product-item h4 a{
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.product-item p{
    text-transform: capitalize;
}
.product-item p span{
    color: #eb1f27;
    font-weight: bold; 
}
.product-list{
    padding-left: 0px;
    padding-right: 0px;
    /* margin: 0 -5px */
}
.inner-item{
    padding-top: 15px; 
}
/* End Product */


/* Search */
#search input, 
#search button{
    margin-top: 23px; 
    float: left; 
}

#search input{
    background: #f5f5f5;
    color: #495057; 
    width: 290px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px; 
    border: none;
    border-radius: 10px 0 0 10px; 
}
#search button{

    height: 40px;
    line-height: 40px;
    font-size: 22px; 
    color: #fff;
    background: #EE2E24;
    border: none;
    border-radius: 0 10px 10px 0; 
}
/* End Search */

/* menu-categories */

 #menu-categories {
    padding: 23px 0; 
}
#menu-categories ul {
    padding: 0; 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

}

#menu-categories h3{

    height: 40px; 
    line-height: 40px;
    border-radius: 10px 10px 0 0; 
    background: #FF0000;
    padding: 0 10px; 
    margin-bottom: 0; 
    
}
#menu-categories h3 a {
    color: #fff;
    font-size: 22px; 
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
}
#menu-categories h3 a {
    margin-right: 15px; 
    
} 
#menu-categories h3 i {
    margin-right: 15px;
    
} 
#menu-categories h3 button {
    padding-left: 0;
    
} 


#menu-item-categories {
    float: left; 
    list-style: none; 

    height: 50px;
    width: 50%; 
    line-height: 50px;
    padding: 0 10px; 
    padding-right: 20px; 
    border: .1px solid #e1e1e1; 
    background: #fff;
}

#menu-item-categories a{
    font-family: arial;
    font-size: 19px;
    color: #1D1E24; 

    text-decoration: none;
}
#menu-item-categories img{
    width: 35px;
    height: 35px; 
}



#menu-origin{
    clear: both;
    padding-top: 22px; 
}
#menu-origin {
    padding: 23px 0; 
}
#menu-origin ul {
    padding: 0; 
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

}
#menu-origin h3{

    height: 40px; 
    line-height: 40px;
    border-radius: 10px 10px 0 0; 
    background: #FF0000;
    padding: 0 10px; 
    margin-bottom: 0; 
    
}
#menu-origin h3 a {
    color: #fff;
    font-size: 22px; 
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
}
#menu-origin h3 a i{
    margin-right: 15px; 
    
}

.item-origin {

    height: 50px;
    width: 100%; 
    line-height: 50px;
    border: 1px solid #e1e1e1; 
    background: #fff;
}

.menu-origin-list a{
    padding-left: 10px;


    font-family: arial;
    font-size: 20px;
    color: #1D1E24; 

    text-decoration: none;
}
#menu-item-origin img{
    display: inline-block;
    margin-right: 15px;
    margin-top: 3px; 
    width: 60px;
    height: 35px; 
}

.item-origin a, .item-origin img {
    float: left; 
}

#menu-origin button {
    padding-left: 0;
}
/* end menu-categories */





/* Footer */
#body{
    background: #E7ECF4;
    padding-bottom: 25px; 
}
#footer-t #logo-t,#address,#services,#hotline{
    padding-top: 25px;
    padding-bottom: 10px; 
}
#footer-t img{
    display: inline-block;
    width: 219px;
    height: 38px; 
}
#footer-t h3{
    font-size: 18px; 
    font-family: arial;
    padding-bottom: 12px;
    border-bottom: 1.5px solid #333;
    margin-bottom: 13px; 
}
#footer-t p{
    font-size: 13px;
    font-family: arial;
    text-align: justify; 
}


#footer-b{
    background: #1D1E24;
    height: 40px; 
    line-height: 40px; 
}
#footer-b p{
    color: #9CABB6;
    font-size: 14px;
}
/* End Footer */

@media (max-width: 992px){
    #banner-left, #banner-right, #banner-bottom,
    #header-top, #header-bottom, #logo
    {
        display: none; 
    }
    #mainPage{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px){
    #slider, #logo{
        display: none;
    }
    #mainPage{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: 768px){

}

